.header{
    height: 100vh;
    position: relative;

}

.header-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    /* You can adjust other properties like background-size, background-repeat, etc. here */
}

.header-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
}

.background-gradient{
    background-image: linear-gradient(to top, #00000017 0, #0000 60%, #000000a1 100%);
    height: 100%;
    width: 100%;
    position : absolute;
}

.background-gradient.left{
    background-image: linear-gradient(to left, #561a1a00, #0000, #000000);
    height: 100%;
    width: 100%;
    position : absolute;
    background-repeat: no-repeat;
}

.background-gradient.bottom{
    background: linear-gradient(to bottom, #561a1a00, #0000, #000000);
    height: 100%;
    width: 100%;
    position : absolute;
}

.background-color{
    background: rgb(0 0 0 / 40%);
    height: 100%;
    z-index: -7;
}

.header-content-container {
    width: 100%;
    z-index: 1;
}

.header-movie-description{
    position: absolute;
    bottom: 293px;
}